<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="serviceConfiguration">
      <section name="serviceTypeMapping" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <serviceConfiguration>
    <serviceTypeMapping>
      <add key="IAuthorizationManager" value="ServiceLayer.AuthorizationManager, ServiceLayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </serviceTypeMapping>
  </serviceConfiguration>
</configuration>