<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <policyInjection>
    <policies>
      <add name="Authorization Policy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  name="Authorization Member Name Matching Rule">
            <matches>
              <add match="GetUser" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add order="0" type="ServiceLayer.AuthorizationHandler, ServiceLayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  name="Authorization Handler" />
        </handlers>
      </add>
    </policies>
  </policyInjection>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>