<!DOCTYPE html>
<html>
  <head><meta charset="utf-8"></head>
  <body>
    <div ng-app="xmpl">
      <div ng-controller="XmplController">
        {{ greeting }}<br>
        
        <button ng-click="clickUnfocused()">Not focused</button>
        <button ngbk-focus ng-click="clickFocused()">I'm very focused!</button>
        <div>{{message.text}}</div>
      </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="ServiceModule.js"></script>
    <script src="DirectiveModule.js"></script>
    <script src="FilterModule.js"></script>
    <script src="app.js"></script>
  </body>
</html>